# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: ba0098383826bfcf898e3b1c53c9ad233a6b1f74bf6a7b90f9bac1f983d632ea4b7b2d5eb1f78d5dec4b33d167175bada75eb808b9b61c233525cb416356314a

test:
  secret_key_base: dc25a454d7cc1e04c30f79c19bdc9f962cdbd55f807a895277ceedf879f9d7eb99ab54903501e9937281f2ed7368030632d8390774eeef224746de6ff472c8ef

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
